NODE_ENV=development
HOST=localhost
PORT=5000
DATABASE_URL=postgres://user:password@host:port/database
DATABASE_USER=postgres.your_project_id
DATABASE_PASSWORD=your_supabase_password
DATABASE_HOST=aws-0-ap-southeast-1.pooler.supabase.com
DATABASE_PORT=6543
DATABASE_NAME=postgres
JWT_SECRET=rahasia_jwt_fintrack_super_secret_key
ALLOWED_ORIGINS=http://localhost:5173,https://fintrack.vercel.app
AI_MODEL_URL=https://capstone-fintrack-production.up.railway.app/predict
FINTRACK_API_URL=https://capstone-fintrack-production.app.railway.app

RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=FinTrack <otp@fin-track.my.id>

# Testing
TEST_EMAIL_RECIPIENT=your-test-email@gmail.com
