HOST=localhost
PORT=3000
DATABASE_USER=postgres.xxxxx
DATABASE_PASSWORD=your_supabase_password
DATABASE_HOST=aws-0-ap-southeast-1.pooler.supabase.com
DATABASE_PORT=6543
DATABASE_NAME=postgres
JWT_SECRET=rahasia_jwt_fintrack_super_secret_key
